version: '3'
services:
  app-web:
    image: node:14
    volumes:
      - .:/usr/src/app
    working_dir: /usr/src/app
    command: bash -c "npm install && npm run start"
    ports:
      - 4002:4002

    
  app-api:
    build: ./sam-server/
    volumes:
      - ./sam-server:/app
    working_dir: /app
    command: bash -c "python3 server.py"
    # tty: true
    ports:
      - 5000:5000
    shm_size: 2g
    # runtime: nvidia


    