version: "3"
services:
  app-web:
    build: ./web-server/
    volumes:
      - ./web-server:/app
    working_dir: /app
    command: bash -c "npm install && npm run start"
    ports:
      - 4000:4000
  app-api:
    build: ./sam-server/
    volumes:
      - ./sam-server:/app
    working_dir: /app
    command: bash -c "python3 server.py"
    ports:
      - 5000:5000
    shm_size: 2g
    runtime: nvidia
    
